@model WebApplication1.lib.PaginatedList<WebApplication1.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_crud.cshtml";
}

<h2>Orders</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@*@Html.DisplayNameFor(model => model.Time)*@
				Time
			</th>
			<th>
				@*@Html.DisplayNameFor(model => model.CustomerName)*@
				Custumer Name
			</th>
			<th>
				@*@Html.DisplayNameFor(model => model.Note)*@
				Note
			</th>
			<th>
				@*@Html.DisplayNameFor(model => model.ShipAdress)*@
				Ship Address
			</th>
			<th>
				@*@Html.DisplayNameFor(model => model.ContactNumber)*@
				Contact Number
			</th>
			<th>
				@*@Html.DisplayNameFor(model => model.Payment)*@
				Payment Method
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Time)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CustomerName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Note)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ShipAdress)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ContactNumber)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Payment.Method.Name)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
				</td>
			</tr>
		}
	</tbody>

	
</table>
